@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">This is a platform designed to manage projects and interships candidatures.</p>
  <hr class="my-4">
  <p>It allows students, professors & companies to manage everything they need to work in a intership/project proposal</p>
</div>  